- if logged_in?
  %ul{class: 'breadcrumb'}
    %li= link_to 'My companies', user_companies_path(current_user)
    %li{class: 'active'}= @company.name

%h1= @company.name
%div{class: 'row'}
  %div{class: 'col-sm-2 text-center'}
    = cl_image_tag(@company.logo, alt: 'logo', width: 128, height: 128)
  %div{class: 'col-sm-9 col-sm-offset-1'}
    %p= @company.description

    %div{class: 'text-right'}
      = link_to 'Accounts', user_company_accounts_path(@user, @company), class: 'btn btn-primary'
