- if logged_in?
  %ul{class: 'breadcrumb'}
    %li= link_to 'My companies', user_companies_path(current_user)
    %li= link_to @company.name, user_company_path(current_user, @company)
    %li{class: 'active'} Reports

%h1 Reports

= form_tag(new_user_company_report_path(@user, @company), method: :get) do |f|
  = label_tag 'start_date', 'Start date:', class: 'col-sm-2'
  %div{class: 'col-sm-3'}
    = text_field_tag 'start_date', @start_date, class: 'form-control'

  = label_tag 'end_date', 'End date:', class: 'col-sm-2'
  %div{class: 'col-sm-3'}
    = text_field_tag 'end_date', @end_date, class: 'form-control'
  %div{class: 'col-sm-2'}
    = submit_tag 'Generate', class: 'btn btn-primary btn-block'
%br
%br

- if @operations
  %div{class: 'text-center'}
    = link_to 'Download XLSX', xlsx_user_company_reports_path(@user, @company, format: 'xlsx', params: { start_date: @start_date, end_date: @end_date})
  %table{class: 'table'}
    %thead
      %th Date
      %th Description
    %tbody
      - @operations.each do |operation|
        %tr
          %td= operation.created_at.to_s(:long)
          %td= operation.description

