- if logged_in?
  %ul{class: 'breadcrumb'}
    %li= link_to 'My companies', user_companies_path(@current_user)
    %li= link_to @company.name, user_company_path(current_user, @company)
    %li{class: 'active'} Accounts

%h1 Accounts
%div{class: 'text-right'}
  = link_to 'Add account', new_user_company_account_path(@user, @company), class: 'btn btn-primary'

- if @accounts.empty?
  %div{class: 'text-center'} No accounts yet.
- else
  %table{class: 'table'}
    %thead
      %tr
        %th Name
        %th Description
    %tbody
      - @accounts.each do |account|
        %tr
          %td= link_to account.name, user_company_account_path(@user, @company, account)
          %td= account.description
