- if logged_in?
  %ul{class: 'breadcrumb'}
    %li= link_to 'My companies', user_companies_path(@current_user)
    %li= link_to @company.name, user_company_path(current_user, @company)
    %li{class: 'active'} Accounts

%h1 Accounts
%div{class: 'text-right'}
  = link_to 'Add account', new_user_company_account_path(@user, @company), class: 'btn btn-primary'

%table{class: 'table table-hover'}
  %thead
    %tr
      %th Name
      %th Description
      %th Category
      %th Subcategory
  %tbody
    - @accounts.each do |account|
      %tr
        %td= account.name
        %td= account.description
        %td= account.category.camelize
        %td= account.subcategory.camelize
