- if logged_in?
  %ul{class: 'breadcrumb'}
    %li= link_to 'My companies', user_companies_path(current_user)
    %li= link_to @company.name, user_company_path(current_user, @company)
    %li= link_to 'Accounts', user_company_accounts_path(current_user, @company)
    %li{class: 'active'} New account


%h1 Add account
%div{class: 'row'}
  %div{class: 'col-sm-6 col-sm-offset-3'}
    = form_for([@user, @company, @account]) do |f|
      = render 'shared/error_messages', object: f.object
      %div{class: 'form-group'}
        = f.label :name
        = f.text_field :name, class: 'form-control'

      %div{class: 'form-group'}
        = f.label :description
        = f.text_area :description, class: 'form-control'

      %div{class: 'form-group'}
        = f.label :category
        - options = [['Assets', :assets], ['Liabilities', :liabilities]]
        = f.select :category, options, {}, class: 'form-control'

      %div{class: 'form-group'}
        = f.label :subcategory
        - options = [['Current', :current], ['Long term', :long_term]]
        = f.select :subcategory, options, {}, { class: 'form-control' }

      %div{class: 'form-group'}
        = f.submit 'Save', class: 'btn btn-primary btn-block'
